@model IEnumerable<DotNet5_CRUD.Models.ListAuthorViewModel>
@{
    ViewData["Title"] = "Author";
}

<div class="row">
    <div class="col-12 text-right">
        <a href="@Url.Action("AddOrEditAuthor")" class="btn btn-success"><i class="bi bi-person-plus-fill"></i> New Author</a>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-12">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Full Name</th>
                    <th scope="col" class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var author in Model)
                {
                    <tr>
                        <th scope="row">@author.Id</th>
                        <td>@author.FullName</td>
                        <td>
                            <a href="@Url.Action("AddOrEditAuthor", new { id = author.Id })" class="btn btn-sm btn-primary"><i class="bi bi-pencil-fill"></i> Edit</a>
                            <button type="button" data-id="@author.Id" class="btn btn-sm btn-danger"><i class="bi bi-trash-fill"></i> Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section Scripts{
    <script>
        $('button').click(function () {
            var id = $(this).data('id');
            if (confirm('Are you sure ?')) {
                $.ajax({
                    type: 'DELETE',
                    url: '/Home/DeleteAuthor',
                    data: JSON.stringify(id),
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    success: function (response) {
                        if (response.isSuccess) {
                            window.location = '/Home/Author';
                        }
                    },
                    failure: function (response) {
                        console.log(response);
                    },
                    error: function (response) {
                        console.log(response);
                    }
                });
            }
        });
    </script>
}